<div class='side-nav'>
    <div class='profile-block'>
    </div>
    <label>Hrishabh Tiwari</label>
    <div class='social-media-tab'>
        <a href="https://www.facebook.com/hrishabh.tiwari.98/" target="_blank" class="fa fa-facebook"></a>
        <!-- <button href="#" class="fa fa-twitter"></button> -->
        <a href="https://www.linkedin.com/in/hrishabh-tiwari-bba0b3203/" target="_blank" class="fa fa-linkedin "></a>
        <a href="https://www.instagram.com/h_r_t_2_0/" target="_blank" class="fa fa-instagram"></a>
    </div>
    <div class='side-nav-block'>
        <button class="side-nav-items">About</button>
        <button class="side-nav-items">Feedback</button>
        <a target="_self" href="../../../../assets/document/CV_Hrisabh_Tiwari.docx" download="CV_Hrisabh_Tiwari.docx">
        <button class="side-nav-items">Download CV</button>
        </a>
    </div>
</div>