<div id='homeScreen' class='home-screen'>
    <side-page class="side-navigation"></side-page>
    <div id='backgroundImage' class='mid-screen'>
       <label class='name'>Hrishabh Tiwari,25</label>
       <p class='text-field'>Web Developer</p>
       <p class='text-field'>Location : Bangalore</p>
       <p class='text-field'>MEAN & MERN Developer</p>
       <p class='text-field'>Connect with me for any freelancing projects</p>
    </div>
    <div class='footer'>
        <label>About</label>
        <label>Feedback</label>
        <label>Download CV</label>
    </div>
</div>